{
	"test_type": "test",
	"platform_num":"101661",
	"url_token": "http://testpicksys.retailo2o.com/erpExternal/api/comm/getToken.do?_platform_num=",
	"url_getorder": "http://testpicksys.retailo2o.com/picksysdi/api/orderOperate/getPageRetailProInfo.do",
	"databasehost":"192.168.10.27",
	"databaseuser":"reportuser",
	"databasepwd":"report",
	"exportpath":"D:\\ECM\\Polling\\001001A\\in\\RECVD\\",
	"hours":"100"	
}